include lox_services/translation/languages/EN.json
include lox_services/translation/languages/FR.json
include lox_services/translation/languages/NL.json
include lox_services/translation/languages/billing/email/EN.json
include lox_services/translation/languages/billing/email/FR.json
include lox_services/translation/languages/billing/invoice/FR.json
include lox_services/translation/languages/billing/invoice/FR.json