###Algorithms

#Testing
pylint>=2.14.2
pytest-cov>=4.1.0
mock>=5.1.0

#Google
google-cloud>=0.34.0
google-cloud-storage>=1.38.0
google-cloud-bigquery>=2.10.0
gspread>=4.0.1
gspread-dataframe>=3.2.1

#Slack
slack_sdk>=3.0.0, <4.0.0

#PDF
pdfminer>=20191125
weasyprint>=52.5
PyPDF2>=2.11.0
#Web
requests>=2.23.0
selenium==4.12.0 #newer versions are not compatible with chromedriver headless
undetected-chromedriver==3.5.3
selenium-wire>=4.5.4
xvfbwrapper>=0.2.9

#Other
numpy>=1.22.4
pandas>=1.4.2
tabula-py>=2.2.0
pytz>=2021.1
lxml>=4.9.1
cryptography>=37.0.2
python-dotenv >= 0.21.1
tqdm >= 4.65.0
pycountry >= 22.3.5
tabulate >= 0.9.0
scrypt >= 0.8.20
mimesis>=10.1.0
paramiko>=2.12.0
# Cloud
PyVirtualDisplay>=3.0
