/*General styling*/
#Lox{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #484D56;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  background: #F6F7F7;
  width: 100%;
}

a{
  text-decoration: none;
  color: #0083D8;
}
/*End General styling*/


.logo {
  margin: 1rem auto;
  width: 5rem;
  height: 4rem;
}
#lox-logo {
  height: 4rem;
}


.letter {
  box-sizing: border-box;
  width: 60%;
  background: #FFFFFF;
  border-radius: 12px;
  margin: 4rem auto;
  padding: 3rem ;
}

@media screen and (max-width: 768px) {
  .letter {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .letter {
    width: 90%;
  }
}

.line {
  width: 2rem;
  height: 2px;
  background: #FF5B6D;
  margin-top: 1rem;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
}

.content{
  margin-top: 2rem;
  width: 100%;
}
.paragraph {
  text-align: justify;
}

#paragraph-2{
  margin-bottom: 0;
}

#paragraph-3{
  margin-top: 0;
}

.exit{
  margin-bottom: 0
}

.signature{
  font-weight: bolder;
  margin-top: 0;
}

.questions {
  margin-top: 3rem;
}

.footer{
  width: 99%;
  margin: 0 auto;
  text-align: center;
  line-height: 2rem;
}

  #linkedin{
    height: 1rem;
  }

  .copyright{
    color: #B9C0C6;
  }